* {
  box-sizing: border-box;
}

.background {
  width: 100%;
  height: 100vh;
  background-color: rgba(12, 56, 105, 0.9);
  position: fixed;
  top: 0;
  z-index: -1;
}

body {
  background-color: rgb(74, 137, 156);
  opacity: 0.97;
  
}

.title-header, .display-container, .text-container, .case-notes-main-container {
  width: 800px;
  background: white;
}

.title-header, .display-container, .case-notes-main-container {
  border: 2px solid rgb(194, 194, 194); 
  border-radius:10px;
  box-shadow: 5px 5px 20px 2px rgb(5, 10, 78)
}

.title-header, .case-notes-main-container {
  position: relative;
  text-align: center;
  margin: 30px auto;
}

.title-header h1 {
  margin: 10px;
  font-size: 30px;
}

.display-container{
  margin: 0 auto;
  padding: 10px;
  display: flex;
}

.add-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.add-container input {
  margin: 10px auto;
  width: 250px;
  height: 30px;
  font-size: 20px;
  border: 2px solid black;
  padding: 5px;
}

.add-btn, .submit-btn, .case-notes-btn {
  background-color: rgb(6, 62, 248);
  border-radius: 5px;
  color: white;
  padding: .5em;
  width: 70px;
  text-align: center;
  font-size: 15px;
  margin: 0 auto;
  text-decoration: none;
  border: none;
  box-shadow: 1px 1px 4px 1px rgb(138, 138, 138)
}

.case-notes-btn {
  position: Absolute;
  left: 20px;
  top: 20px;
  background-color: rgb(6, 62, 248);
  border-radius: 5px;
  color: white;
  padding: .4em;
  width: 80px;
  text-align: center;
  font-size: 10px;
  margin: 0 auto;
  text-decoration: none;
  border: none;
  box-shadow: 1px 1px 4px 1px rgb(138, 138, 138)
}

.add-btn:hover , .submit-btn:hover {
  background-color: rgb(0, 28, 119);
  color: rgb(220, 228, 255);
}

.text-container {
  height: 380px;
  overflow: scroll;
  background-color: rgb(247, 247, 247)
}

.entry-container {
  position: relative;
  padding: 10px;
  border-bottom: 1px solid rgb(243, 243, 243);
}

.entry-container p, h3 {
  margin: 2px 0;
}

.delete-btn, .edit-btn {
  position: absolute;
  top: 10px;
  z-index: 1;
}

.edit-btn {
  right: 60px;
}

.delete-btn {
  right: 10px;
}

.edit-container {
  position: absolute;
  width: inherit;
  height: 70px;
  background-color: rgb(247, 247, 247)
}

.edit-container input {
  height: 21px;
  font-size: 15px;
  border: none;
  margin: 1.5px;
  background: rgb(255, 244, 244);

}

.address-edit-input {
  width: 335px;
}

.firstname-edit-input, .lastname-edit-input, .phone-edit-input, .email-edit-input {
  width: 165px;
}

.submit-btn {
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.case-notes-main-container {
  text-align: center;
  margin: 30px auto;
}
.case-notes-sub-container {
  display: flex;
}

.case-notes-main-container h2 {
  width: 100%;
  height: 20px;
}

.notes-directory, .notes-display {
  width: 40%;
}



