.App {
  background-color: rgb(220, 247, 255);
  padding: 10px;
}

.title-header {
  text-align: center;
  margin: 0 auto;
}

.main-container {
  margin: 0 auto;
  width: 500px;
  background-color: white;
  display: flex;
  flex-wrap: wrap
}

.text-container {
  padding: 10px;
}